:root {
  /* Colors */
  --color-btn-primary: #13183f;
  --color-btn-primary-hover: #666ca3;
  --color-secondary: #13183f;
  --color-text: #83869a;
  --color-link: #f74780;
  --color-link-hover: #ffa7c3;
  --color-white: white;
  --color-card-shadow: rgba(6, 22, 141, 0.0442);
  --gradient-primary: linear-gradient(to top, #f02aa6, #ff6f48);
  --gradient-primary-hover: linear-gradient(
    to top,
    rgba(240, 42, 166, 0.5),
    rgba(255, 111, 72, 0.5)
  );
  --gradient-secondary: linear-gradient(to bottom, #4851ff, #f02aa6);
  --gradient-secondary-hover: linear-gradient(
    to bottom,
    rgba(72, 81, 255, 0.5),
    rgba(240, 42, 166, 0.5)
  );
  --gradeint-bg: linear-gradient(to bottom, #fff, #f0f1ff);
}

/* Typography */
.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: clamp(2.5rem, 4.4vw, 3.5rem);
  line-height: clamp(3.125rem, 5.5vw, 4.375rem);
  color: var(--color-secondary);
  margin-block: 0;
}

p:not(.features__promo p) {
  font-size: clamp(1rem, 1.66vw, 1.125rem);
  line-height: clamp(1.625rem, 3.1vw, 1.75rem);
  font-weight: 500;
  color: var(--color-text);
}

.features__promo > p {
  color: var(--color-white);
  font-weight: 800;
  font-size: clamp(1.5rem, 2.96vw, 2rem);
  line-height: clamp(2rem, 3.81vw, 2.5rem);
  margin: 0;
}

.features h2 {
  color: var(--color-secondary);
  font-weight: 800;
  font-size: clamp(1.25rem, 2.33vw, 1.5rem);
  line-height: clamp(1.625rem, 2.96vw, 1.875rem);
  margin-block: 0;
}

/* Layout */
img {
  max-inline-size: 100%;
}

body {
  margin: 0;
}

.site-logo {
  max-inline-size: clamp(89px, 10.71vw, 114px);
}

header {
  padding-inline: clamp(16px, 5.2vw, 40px);
  padding-block-start: clamp(16px, 3.125vw, 24px);
  margin-block-end: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-content {
  padding-inline: clamp(16px, 5.2vw, 40px);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 23px;
  max-inline-size: fit-content;
  margin: auto;
}

.intro-content__text {
  /* 28.5em = 456px assuming 1em = 16px */
  max-inline-size: 28.5em;
}

.intro-content__text > p {
  margin-block: clamp(26px, 2.91vw, 29px) clamp(24px, 3.39vw, 40px);
}

.features {
  padding-inline: clamp(16px, 5.2vw, 40px);
  padding-block: 66px 80px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  max-inline-size: fit-content;
  margin: auto;
}

.features-gd-background {
  background: var(--gradeint-bg);
}

.features > div {
  /* 21.875em = 350px assuming 1em = 16px */
  max-inline-size: 21.875em;
  box-sizing: border-box;
  border-radius: 10px;
}

.features__promo {
  background: var(--gradient-primary);
  padding-inline: 28px;
  /* later:
   I guess padding-block, in desktop or mobile needs to increase */
  padding-block: 24px 32px;
  block-size: 100%;
}

:is(.animation, .design, .photography, .crypto, .business) {
  background-color: var(--color-white);
  padding-inline: 32px 22px;
  padding-block: clamp(56px, 6.36vw, 64px) clamp(32px, 3.81vw, 40px);
  position: relative;
  box-shadow: 0px 25px 50px 0px var(--color-card-shadow);
}

:is(.animation, .design, .photography, .crypto, .business) > p {
  margin-block: clamp(16px, 2.12vw, 24px) clamp(24px, 4.03vw, 52px);
}

:is(.animation, .design, .photography, .crypto, .business)::before {
  position: absolute;
  top: -23px;
}

.animation::before {
  content: url(/assets/icon-animation.svg);
}

.design::before {
  content: url(/assets/icon-design.svg);
}

.photography::before {
  content: url(/assets/icon-photography.svg);
}

.crypto::before {
  content: url(/assets/icon-crypto.svg);
}

.business::before {
  content: url(/assets/icon-business.svg);
}

footer {
  background-color: var(--color-secondary);
}

.footer-wrapper {
  padding: 36px clamp(16px, 5.2vw, 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* components */

.btn-primary {
  background-color: var(--color-btn-primary);
  color: var(--color-white);
  padding: 10px 24px;
  border-radius: 28px;
  border: none;
  font-weight: bold;
  font-size: clamp(1rem, 1.66vw, 1.125rem);
  line-height: 1.75rem;
}

.btn-primary:hover {
  background-color: var(--color-btn-primary-hover);
  cursor: pointer;
}

.btn-secondary {
  background: var(--gradient-primary);
  border: none;
  color: var(--color-white);
  padding-block: clamp(16px, 2vw, 20px) 16px;
  padding-inline: 36px;
  border-radius: 32px;
  font-weight: bold;
  font-size: clamp(1rem, 1.66vw, 1.125rem);
  line-height: clamp(1.625rem, 1.66vw, 1.75rem);
}

.btn-secondary:hover {
  background: var(--gradient-primary-hover);
  cursor: pointer;
}

.btn-tertiary {
  border: none;
  padding-inline: clamp(24px, 2.96vw, 32px);
  padding-block: clamp(10px, 1.27vw, 14px);
  border-radius: 28px;
  background: var(--gradient-secondary);
  color: var(--color-white);
  font-weight: bold;
  line-height: 1.75rem;
  font-size: clamp(1rem, 1.8vw, 1.125rem);
}

.btn-tertiary:hover {
  background: var(--gradient-secondary-hover);
  cursor: pointer;
}

a:any-link {
  text-decoration: none;
  color: var(--color-link);
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

a:hover {
  color: var(--color-link-hover);
}

/* Responsive Breakpoints */

.max-width-center {
  /* 70em = 1120px assuming 1em = 16px */
  max-inline-size: 70em;
  margin-inline: auto;
}

/* Tablet */
/*  48em = 768px assuming 1em = 16px */
@media (min-width: 48em) {
  body {
    overflow-x: hidden;
  }
  .intro-content {
    grid-template-columns: 1fr minmax(0, calc(100vw - 63em)) 1fr;
    margin-block-start: -80px;
  }

  .img-hero-wrapper {
    margin-right: -100%;
  }

  .intro-content__text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .features {
    max-inline-size: fit-content;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    gap: 56px 25px;
  }

  .features__promo {
    padding-inline: 32px;
    padding-block-start: 56px;
  }
}

/* Desktop */
/* 70em = 1120px assuming 1em = 16px */

@media (min-width: 70em) {
  .intro-content {
    grid-template-columns: 1fr 110px 1fr;
    max-inline-size: 70em;
  }

  .features {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px 30px;
    padding-block-end: 140px;
  }
}
